
body {
	background-color:#a9d2d5;


}
nav, li {
background-color:#a3a5c3;

}
header{
background-color:#947eb0;

}
footer{
background-color:rgb(128,141,142);

}

#children{
color:#ff00f0;

}

.time{
	border:1px solid

}
